@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$include-html-type-classes: $include-html-classes;
$primary-color: white;
$font-family: 'Open Sans', sans-serif;

a {
font-family: $font-family;
}

header {
	background: black;
	color: $primary-color;
	opacity: .8;
	filter: alpha(opacity=80);
	padding-right: 15px; 
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	}

section {
	background: black;
	color: $primary-color;
	opacity: .8;
	filter: alpha(opacity=80);
	padding-right: 15px; 
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	}
	
h1 {
font-family: $font-family;
font-weight: 300;
}

aside {
	opacity: .8;
	filter: alpha(opacity=80);
	}
	
h1 {
	color: $primary-color;
	}
	
h2 {
	font-family: $font-family;
	font-weight: 300;
	font-size: 30px;
}
h3 {
	font-family: $font-family;
	font-weight: 300;
}	

h4 {
	font-family: $font-family;
	font-weight: 300;
	text-align: center;
}

h5 {
	font-family: $font-family;
	font-weight: bold;
	text-align: right;
	color: #5ad5fd;
	font-size: 16px;
}

body {
	background: $primary-color;
	background: url(madeatthetech.jpg);
    background-size: 100%;
	background-attachment:fixed;
	font-family: $font-family;
	}
	
main {
	background: $primary-color;
	opacity: 0.8;
    filter: alpha(opacity=80);
	padding-right: 15px; 
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;	
	}

nav {
	opacity: 0.8;
    filter: alpha(opacity=80);
	background: $primary-color;
	}

footer {
	background: black;
	opacity: .8;
    filter: alpha(opacity=80);
	padding-right: 15px; 
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: $primary-color
}

figure {
	opacity: 1;
    filter: alpha(opacity=100);
	}
	
figcaption {
	font-family: $font-family;
	}
@media (max-width:641px) {
	nav {
		display: none;
		visibility: hidden;
	}
	figure {
	width: 80%;
	}
}

@media (min-width:641px) {
	aside {
		display: none;
		visibility: hidden;
	}
	figure {
		width: 45%;
		float: right
	}
}

